*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    position: absolute;
    background: rgba(255, 255, 255, 0.658);
    width: 100%;
    z-index: 10;
    color: black;
}

.search-bar{
    position: absolute;
    z-index: 1;
    top: 100px;
    width: 100%;
}

.navbar-brand img{
    height: 40px;
    width: 150px;
}

.carousel{
    opacity: 0.9;
}

.input-group{
    background: rgba(245, 245, 245, 0.795);
    border-radius: 10px;
    overflow: hidden;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-group input{
    background: white;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-group input:active{
    background: white;
    border-radius: 10px;
    color: #1c74bc;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-group button{
    background: transparent;
    border-radius: 10px;
    color: #1c74bc;
}

.input-group button:hover{
    background: #1c74bc;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}

.content-banner{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 20px;
    padding: 20px;
}
.content-banner .banner-heading{
    color: #1c74bc;
}

.blink {
    animation: blink 0.5s infinite;
  }
  @keyframes blink{
    to { opacity: .0; }
  }
  .flex {
      display: flex;
  }
  .header-sub-title {
    color: black;
    font-family: "Courier";
    font-size: 20px;
    padding: 0.1em;
  }

.img-banner img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nav-login{
    background-color: #79bbf191;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    margin-right: 10px;
}
.nav-login:hover{    
    background-color: rgb(248, 244, 244);
    transition: 0.5s;
    border-radius: 5px;    
    padding: 0 10px 0 10px;
    border: 2px solid #1c74bc91;
}

.nav-sign{
    background-color: #79bbf191;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}
.nav-sign:hover{    
    background-color: rgb(248, 244, 244);
    transition: 0.5s;
    border-radius: 5px;    
    padding: 0 10px 0 10px;
    border: 2px solid #1c74bc91;
}


/*------------------------------------------- LOGIN PAGE -------------------------------------*/
#login_body
{
    background-image: url('../img/login_bg.jpeg');
    width: 100%;
    height: 100vh;
}
.signin_div {
    position: absolute;
    width: 350px;
    height: 450px;
    top: 20%;
    left: 37.5%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: large;
}

.signin_signup_options {
    margin-bottom: 80px;
}

/* INPUT FIELDS */
#form_username, #form_password{
  height: 40px;
  width: 275px;
  margin-top: 5%;
  margin-left: 10%;
  background: rgba(255, 255, 255, 0.6);
  border: 0.1px solid #8D8D8D;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
  font-family: "Montserrat";
  font-size: 16px;
}

input::placeholder {
  font-family: "Montserrat";
  color: rgb(41, 41, 41);
  font-weight: 100;
}

input:focus {
  outline: none !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
}

.form_submit {
  height: 40px;
  width: 275px;
  margin-top: 12.5%;
  margin-left: 10%;
  background: rgba(0, 0, 0, 0.6);
  border: 0.1px solid #8D8D8D;
  border-radius: 5px;

  font-family: "Montserrat";
  color: whitesmoke;
  font-weight: 100;
}

.form_submit:hover {
  background: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
}

.signin_signup_alternatives {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  text-align: center;
}